<footer class="footer_component">
      <div class="container-large">
        <div class="padding-section-tiny">
          <div class="footer_flex-wrapper">
            <div class="footer_content-wrapper">
              <div class="padding-global">
                <div class="footer_content-flex-wrapper">
                  <div class="footer_column is-newsletter">
                    <h4 class="rose">{{ texts.-6f35ef90 }}<br></h4>
                    <div class="form-block w-form">
                      <div class="newsletter-text">{{ texts.-47761f27 }}</div>
                      <form id="wf-form-Newsletter-Form" name="wf-form-Newsletter-Form" data-name="newsletter" method="get" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field text-size-regular w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email-NL" required="">
                        <div class="submit-button_wrapper"><input type="submit" value="Submit" data-wait="Working" class="submit-button w-button"></div>
                      </form>
                      <div class="success-message w-form-done">
                        <div>{{ texts.-23954b5b }}</div>
                      </div>
                      <div class="error-message w-form-fail">
                        <div>{{ texts.765b0de7 }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="footer_right-columns">
                    <div class="footer_column">
                      <a href="{{ links.-5e7e326d }}" target="_blank" class="footer_link-block text-style-allcaps futura w-inline-block">
                        <div class="text-size-regular text-color-white">{{ texts.-25004f77 }}</div>
                      </a>
                      <div class="padding-bottom padding-xsmall"></div>
                      <div class="padding-bottom padding-xsmall"></div>
                      <a href="{{ links.-2b313630 }}" target="_blank" class="footer_link-block text-style-allcaps futura w-inline-block">
                        <div class="text-size-regular text-color-white">{{ texts.-3918b4eb }}</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="padding-bottom padding-xxlarge"></div>
                <div class="footer_content-flex-wrapper">
                  <h2 class="heading_footer">{{ texts.-5efa5b50 }}</h2>
                </div>
                <div class="padding-bottom padding-large">
                  <div class="text-block"><strong><em>{{ texts.a9 }}</em></strong>{{ texts.68189e03 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>