<div data-animation="default" class="navbar1_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="e55628cc-760e-8293-7af1-68419eb2a622" role="banner" data-duration="400">
      <div class="navbar1_container">
        <a href="{{ links.2f }}" aria-current="page" class="navbar1_logo-link w-nav-brand w--current"><img src="{{ images.-2a484e45.url }}" loading="lazy" alt="{{ images.-2a484e45.alt | trim | escape }}" class="navbar1_logo"></a>
        <nav role="navigation" class="navbar1_menu is-page-height-tablet w-nav-menu">
          <a href="{{ links.-5886b32e }}" class="navbar1_link w-nav-link">{{ texts.ad5ca6d }}</a>
          <a href="{{ links.4652ebe7 }}" class="navbar1_link w-nav-link">{{ texts.-20f01c46 }}</a>
          <a href="{{ links.-a88122 }}" class="navbar1_link w-nav-link">{{ texts.5038d9cd }}</a>
          <div class="navbar1_menu-buttons">
            <a href="{{ links.-715203e2 }}" class="button is-small w-button">{{ texts.-101285d1 }}</a>
          </div>
        </nav>
        <div class="navbar1_menu-button w-nav-button">
          <div class="menu-icon1">
            <div class="menu-icon1_line-top"></div>
            <div class="menu-icon1_line-middle">
              <div class="menu-icon_line-middle-inner"></div>
            </div>
            <div class="menu-icon1_line-bottom"></div>
          </div>
        </div>
      </div>
    </div>